* {
  font-family: "Perpetua Titling MT";
  color: white; }

header {
  position: fixed;
  background-color: #f4b597;
  width: 100%;
  top: 0;
  text-align: center; }

#logo {
  float: left;
  padding: 0px;
  margin-left: 20px;
  width: 100px;
  height: 70px; }

nav.nav {
  text-align: center;
  color: white;
  height: 60px;
  margin-top: 5px;
  line-height: 60px;
  margin-left: 0px;
  margin-right: 140px; }

.nav a {
  font-size: 20px;
  padding: 28px;
  font-family: "Perpetua Titling MT";
  margin-bottom: 5px; }

nav.nav a, div.newlogo a, a:active {
  color: white;
  text-decoration: none; }

div.newlogo a:hover, nav.nav a:hover, a:visited {
  text-decoration: none;
  color: #cc7f59; }

nav.nav span {
  font-size: 20px; }

body {
  background-color: #f4b597; }

.newlogo img {
  width: 100%;
  margin-top: 3px; }

/*--FOR iPAD--*/
@media only screen and (max-width: 1035px) {
  header {
    height: 80px; }

  body {
    margin-top: 80px; }

  .newlogo {
    margin-top: 10px; }

  nav.nav {
    margin-right: 0px;
    margin-top: 0px;
    height: 80px; }

  .nav a {
    padding: 10px; }

  #logo {
    float: none; }

  img {
    width: 100%; } }
/* --DESKTOP INSPO-- */
@media screen and (min-width: 1000px) {
  body {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: repeat(7, 14.28%);
    grid-template-areas: "newlogo nav nav nav" "img1 img1 img1 img1" "img6 img6 img5 img5" "img2 img2 img2 img2" "img3 img3 img4 img4" "img7 img7 img7 img7" "img8 img8 img8 img8";
    margin-top: 20px; }

  .newlogo {
    grid-area: newlogo; }

  .nav {
    grid-area: nav; }

  .img1 {
    grid-area: img1;
    width: 100%;
    margin-bottom: 3px; }

  .img2 {
    grid-area: img2;
    width: 100%;
    margin-bottom: 3px; }

  .img3 {
    grid-area: img3;
    margin-right: 50%;
    width: 100%; }

  .img4 {
    grid-area: img4;
    width: 100%;
    margin-left: 2px;
    margin-bottom: 3px; }

  .img5 {
    grid-area: img5;
    width: 100%;
    margin-bottom: 3px;
    margin-left: 2px; }

  .img6 {
    grid-area: img6;
    margin-right: 50%;
    width: 100%;
    margin-bottom: 3px; }

  .img7 {
    grid-area: img7;
    width: 100%;
    margin-bottom: 3px; }

  .img8 {
    grid-area: img8;
    width: 100%; } }
/* --MOBILE-- */
@supports (grid-area: auto) {
  @media screen and (max-width: 500px) {
    body {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: repeat(9, 11.11%);
      grid-template-areas: "newlogo" "mynav" "img1" "img2" "img3" "img4" "img5" "img6" "img7" "img8"; }

    header {
      line-height: 70px; }

    #logo {
      text-align: center;
      margin: 0px;
      font-size: 20px; }

    .newlogo {
      grid-area: newlogo;
      height: 40px;
      margin-top: 0px; }

    .mynav {
      grid-area: mynav;
      height: 25px; }

    .nav a {
      padding: 5px;
      font-size: 15px;
      text-align: center; }

    nav.nav {
      height: 30px;
      margin-left: 0px;
      margin-right: 13px; }

    .img1 {
      grid-area: img1;
      margin-bottom: 3px; }

    .img2 {
      grid-area: img2;
      margin-bottom: 3px; }

    .img3 {
      grid-area: img3;
      margin-bottom: 3px; }

    .img4 {
      grid-area: img4;
      margin-bottom: 3px; }

    .img5 {
      grid-area: img5;
      margin-bottom: 3px; }

    .img6 {
      grid-area: img6;
      margin-bottom: 3px; }

    .img7 {
      grid-area: img7;
      margin-bottom: 3px; }

    .img8 {
      grid-area: img8; } } }

/*# sourceMappingURL=styleinspo.css.map */
